name: Publicar pacote Maven

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Compilar e publicar
        run: mvn deploy -B -DskipTests
        env:
          MAVEN_USERNAME: ${{ github.actor }}   # or hard-code antoniocariocajr
          MAVEN_PASSWORD: ${{ secrets.MAVEN_GITHUB_TOKEN }}
